<h1>Home Page</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur, at aspernatur pariatur possimus nihil qui quaerat deleniti inventore deserunt porro dolorum est repellendus, sint facilis, placeat non in itaque. Cumque quia accusantium, fuga ab, tempora adipisci mollitia natus eius sunt et deserunt sed aspernatur numquam veniam voluptas dignissimos nemo corrupti.</p>
<a href="/about">Go to about page</a>